@import url('https://fonts.googleapis.com/css?family=Play:400,700&subset=cyrillic-ext');

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
  box-sizing: border-box;
}

button,
input,
optgroup,
select,
textarea,
html input[type="button"],
input[type="reset"],
input[type="submit"],
button[disabled],
html input[disabled],
button::-moz-focus-inner,
input::-moz-focus-inner,
input[type="checkbox"],
input[type="radio"],
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button,
input[type="search"],
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration body {
  line-height: 1;
  font-size: 1em !important;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote {

  &:before,
  &:after {
    content: '';
    content: none;
  }
}

q {

  &:before,
  &:after {
    content: '';
    content: none;
  }
}

a {
  cursor: pointer;

  &:hover {
    background-color: none !important;
  }

  &:focus {
    background: none;
  }
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
body {
  height: 100%;
}

body {
  font-family: 'Play', sans-serif;
  min-width: 320px;
  min-height: 100%;
  height: 100vh;
  overflow-x: hidden;
  font-size: 1em;
  color: #000;
  position: relative;
  padding: 0 env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
}

#app {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-top: 55px;
}

.content {
  flex: 1 0 auto;
}

footer {
  flex: 0 0 auto;
}

.container {
  width: 100%;
  min-width: 100%;
  padding: 0 15px;
}

.back {
  background: #000;
  color: #fff;
  position: fixed;
  z-index: 99;

  text-align: center;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  bottom: 15px;
  right: 0;

  a {
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
  }
}


@import "header";
@import "home";
@import "scheme";
@import "size";
@import "revievs";
@import "product";
@import "question";